<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Codius</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <link rel="stylesheet" href="border.css">
</head>

<body>
    <div id="logoAndNameHolder">
        <div id="logoHolder">
            <div class="bb">
                <div id="logo" style="background-color: transparent; width: 420px;height:430px;">

                    <svg width="300" id="longUp" height="50" style="transform:rotateZ(-45deg);position: absolute; left: 0; top: 100.5px;">
                        <polygon points="0 0, 300 0, 250 50, 50 50" style="fill:white;stroke:purple;stroke-width:0;"></polygon>
                    </svg>

                    <svg width="300" id="longDown" height="50" style="transform:rotateZ(-135deg);position: absolute; left: 0px; top: 276.5px;">
                        <polygon points="0 0, 300 0, 250 50, 50 50" style="fill:white;stroke:blue;stroke-width:0;"></polygon>
                    </svg>

                    <svg width="180" id="shortUp" height="50" style="transform:rotateZ(45deg);position: absolute; left: 200px; top: 144.5px;">
                        <polygon points="0 0, 180 0, 130 50, 50 50" style="fill:white;stroke:blue;stroke-width:0;"></polygon>
                    </svg>
                    <svg width="180" id="shortDown" height="50" style="transform:rotateZ(135deg);position: absolute; left: 200px; top: 236px;">
                        <polygon points="0 0, 180 0, 130 50, 50 50" style="fill:white;stroke:blue;stroke-width:0;"></polygon>
                    </svg>
                </div>
            </div>
        </div>
        <div id="nameHolder" class="noselect">
            CODIUS
        </div>
    </div>
    <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js"></script>
    <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js"></script>
    <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js"></script>
    <script src="border.js"></script>
</body>
</html>