<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Codius</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <link rel="stylesheet" href="border.css">
    <link rel="stylesheet" href="MainPage.css">
    <style type="text/css">        
    </style>
</head>
<body>
    <div id="menu">
        <svg width="40px" height="10px" viewBox="0 0 100 100" style="position: absolute; left: 5px; top: 5px;" preserveAspectRatio="none">
            <polygon class="logoPolygon" points="0 0, 100 0, 100 60, 0 60"></polygon>
            <div>
                About
            </div>
        </svg>

        <svg width="40px" height="10px" viewBox="0 0 100 100" style="position: absolute; left: 5px; top: 20px;" preserveAspectRatio="none">
            <polygon class="logoPolygon" points="0 0, 100 0, 100 60, 0 60"></polygon>
            <div>
                Portfolio
            </div>
        </svg>

        <svg width="40px" height="10px" viewBox="0 0 100 100" style="position: absolute; left: 5px; top: 35px;" preserveAspectRatio="none">
            <polygon class="logoPolygon" points="0 0, 100 0, 100 60, 0 60"></polygon>
            <div>
                References
            </div>
        </svg>
    </div>
    <div id="logoAndNameHolder">
        <div id="logoHolder">
            <div class="bb">
                <div id="logo">

                    <svg width="300" id="longUp" height="50" style="transform:rotateZ(-45deg);position: absolute; left: 0; top: 100.5px;">
                        <polygon class="logoPolygon" points="0 0, 300 0, 250 50, 50 50"></polygon>
                    </svg>

                    <svg width="300" id="longDown" height="50" style="transform:rotateZ(-135deg);position: absolute; left: 0px; top: 276.5px;">
                        <polygon class="logoPolygon" points="0 0, 300 0, 250 50, 50 50"></polygon>
                    </svg>

                    <svg width="180" id="shortUp" height="50" style="transform:rotateZ(45deg);position: absolute; left: 200px; top: 144.5px;">
                        <polygon class="logoPolygon" points="0 0, 180 0, 130 50, 50 50"></polygon>
                    </svg>
                    <svg width="180" id="shortDown" height="50" style="transform:rotateZ(135deg);position: absolute; left: 200px; top: 236px;">
                        <polygon class="logoPolygon" points="0 0, 180 0, 130 50, 50 50"></polygon>
                    </svg>
                </div>
            </div>
        </div>
        <div id="nameHolder" class="noselect">
            CODIUS
        </div>
    </div>
    <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js"></script>
    <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js"></script>
    <script src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="border.js"></script>
    <script type="text/javascript">
        $('#menu').click(function () {
            $('#menu').toggleClass('active');
        });
    </script>
</body>
</html>