#logo {
            background-color: transparent;
            width: 420px;
            height: 430px;
        }

        .logoPolygon {
            fill: white;
            stroke: blue;
            stroke-width: 0;
        }

        #menu {
            width: 50px;
            height: 50px;
            /*border: 1px solid white;*/
            position: absolute;
            left: 10px;
            top: 10px;
            cursor: pointer;
        }

            #menu span {
                display: none;
            }

            #menu:hover:not(.active) svg:nth-child(1) {
                /*animation: logoFirstLinePeek 0.2s forwards;*/
            }

            #menu.active span {
                display: block;
            }

            #menu.active svg polygon {
                /*fill: transparent;
                stroke: white;
                stroke-width: 1px;*/
            }

            #menu.active div {
                text-align: center;
                width: 250px;
                height: 50px;
                font-size: 20px;
                line-height: 50px;
                text-transform: uppercase;
                opacity: 0;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            #menu.active svg:nth-child(1) {
                animation: logoLineMove1 0.7s forwards;
            }

            #menu.active div:nth-child(2) {
                animation: spanLineMove1 1.1s forwards;
            }

            #menu.active svg:nth-child(3) {
                animation: logoLineMove2 0.7s forwards;
                animation-delay: 0.1s;
            }

            #menu.active div:nth-child(4) {
                animation: spanLineMove2 1.1s forwards;
            }

            #menu.active svg:nth-child(5) {
                animation: logoLineMove3 0.7s forwards;
                animation-delay: 0.2s;
            }

            #menu.active div:nth-child(6) {
                animation: spanLineMove3 1.1s forwards;
            }

        #logoAndNameHolder {
            display: none;
        }

        @keyframes logoFirstLinePeek {
            0% {
                transform: translateX(0px);
                /*width: 40px;*/
            }

            100% {
                transform: translateX(6px);
                /*width: 100px;*/
            }
        }

        @keyframes logoLineMove1 {
            0% {
                transform: translateX(0px) translateY(0);
                width: 40px;
            }

            100% {
                transform: translateX(150px) translateY(0px);
                width: 250px;
                height: 70px;

            }
        }

        @keyframes spanLineMove1 {
            0% {
                /*transform: translateX(100px) translateY(0);*/
                opacity: 0;
                transform: scale(0.8);
                /*width: 40px;*/
            }

            70% {
                transform: translateX(155px) translateY(0px) scale(0.8);
                width: 250px;
                height: 70px;
                opacity: 0;
            }

            100% {
                opacity: 1;
                transform: translateX(155px) translateY(0px) scale(1);
                width: 250px;
                height: 70px;
            }
        }

        @keyframes spanLineMove2 {
            0% {
                /*transform: translateX(100px) translateY(0);*/
                opacity: 0;
                /*width: 40px;*/
            }

            70% {
                transform: translateX(160px) translateY(15px);
                width: 250px;
                height: 70px;
                opacity: 0;
            }

            100% {
                opacity: 1;
                transform: translateX(155px) translateY(15px);
                width: 250px;
                height: 70px;
            }
        }

        @keyframes spanLineMove3 {
            0% {
                /*transform: translateX(100px) translateY(0);*/
                opacity: 0;
                /*width: 40px;*/
            }

            70% {
                transform: translateX(160px) translateY(30px);
                width: 250px;
                height: 70px;
                opacity: 0;
            }

            100% {
                opacity: 1;
                transform: translateX(155px) translateY(30px);
                width: 250px;
                height: 70px;
            }
        }

        @keyframes logoLineMove2 {
            0% {
                transform: translateX(0px) translateY(0);
                width: 40px;
            }

            100% {
                transform: translateX(150px) translateY(70px);
                width: 250px;
                height: 70px;

            }
        }

        @keyframes logoLineMove3 {
            0% {
                transform: translateX(0px) translateY(0);
                width: 40px;
            }
            100% {
                transform: translateX(150px) translateY(140px);
                width: 250px;
                height: 70px;
            }
        }